.cameraControls {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  min-height: 100px;
  width: 100px;
  border: 2px lightsteelblue dashed;
  padding: 13px;
  margin: 75px;
  text-align: right;
}

.controlItem {
  cursor: pointer;
  white-space: nowrap;
  border: 1px lightsteelblue solid;
  border-radius: 5px;
  margin: 3px;
}
