.cameraControls {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  min-height: 100px;
  width: 150px;
  border: 2px lightsteelblue dashed;
  padding: 13px;
  margin: 75px;
}

.controlItem {
  cursor: pointer;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}
